.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: 100% 100px;
  height: 100vh;
  width: 100%;
  background-color: red;
  color: aliceblue;
}

.container > div > h1 {
  font-size: 50px;
  margin: 40px;
  padding: 0;
}

.start-box {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  background-color: aliceblue;
}

.image-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: aliceblue;
  box-shadow: inset #757575 1px 1px 4px 2px;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    red,
    red 50%,
    aliceblue 50%,
    aliceblue
  );
  /* The rectangle in which to repeat.
   It can be fully wide in this case */
  background-size: 100% 110px;
  margin: 10px;
}
.image-box > h2 {
  color: aliceblue;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.image-box > img {
  width: 400px;
  height: 300px;
  margin: 10px 20px 10px 20px;
  border-radius: 10px;
}

.start-btn {
  font-size: 20px;
  font-weight: 300;
  margin: 10px;
  color: aliceblue;
  background-color: red;
  border: none;
  border-radius: 5px;
  width: 60px;
  height: 30px;
}

.text-link {
  color: white;
  text-decoration: none;
}
