html{
    height: 100%;
}
body{
    /*background-color: #3AAFA9;*/
    height: 100%;
}
.header-box{
    padding: .5rem 3rem .5rem 3rem;
    color: #FEFFFF;
    font-family: 'Catamaran', sans-serif;
    border-bottom: 1px solid rgba(23, 37, 42, 0.3);
    background-color: #3AAFA9;
    
}
.arrow {
    border: solid #17252A;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
button{
    background-color: #17252A !important;
    color: #FEFFFF !important;
    font-size: 25px;
}
.wrapper{
    /* background-color:black;*/
     height: 100%;
     background-color: #3AAFA9;;
}  

.cards-box{
   background-color: #3AAFA9; ;
   height: auto;
   padding-bottom: 16px !important;
}

.add-book{
    background-color: #2B7A78 !important;
    border: 5px solid rgba(23, 37, 42, 1);
    border-radius: 40px;
    min-width: 300px;
    max-width: 300px;
    min-height: 350px;
    max-height: 350px;
    margin: 1rem 1rem 1rem 1rem;
    font-family: 'Catamaran', sans-serif;
    color: #FEFFFF;
    
}
.book-info{
  padding: 20px 0px 20px 0px;
}

footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    height: 50px;
    background-color: #3AAFA9;
    color: #FEFFFF;
    font-family: 'Catamaran', sans-serif;
    padding-left: 30px;
    border-top:  1px solid rgba(23, 37, 42, 0.3);
}


/* modal styles */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #3AAFA9;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    font-family: 'Catamaran', sans-serif;
    border: 5px solid rgba(23, 37, 42, 1);
    border-radius: 40px;
    color: #FEFFFF;
    
  }
  
  /* The Close Button */
  .close {
    float: right;
    
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  /* Toggle switch */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  input{
    background-color: #3AAFA9;
    border: none;
    color: #FEFFFF;#FEFFFF;
    font-size: 25px;
    width: 100%;
  }
  ::placeholder {
    color: #FEFFFF;;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #FEFFFF;;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #FEFFFF;;
  } 
  p{
    font-size: 25px;
  }
  input:focus, textarea:focus, select:focus{
    outline: none;
}
.information{
  padding: 5px !important;
  background-color: #2B7A78 !important;
  color: #FEFFFF;
  font-family: 'Catamaran', sans-serif;
}

.menu{
  height: 40px;
  width: 100px;
 }
 a{
   text-decoration: none;
   color: #FEFFFF;;
 }